<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batch.springbatch.model.PersonMapper">


  <update id="updateIgnoreNullById">
    update t_student
    <set>
      <if test="student.name != null">
        name = #{student.name}
      </if>
      <if test="student.age != null">
        age = #{student.age}
      </if>
      <if test="student.clazzId != null">
        clazz_id = #{student.clazzId}
      </if>
      <if test="student.number != null">
        number = #{student.number}
      </if>
    </set>
    where id = #{student.id}
  </update>

  <select id="selectById" resultType="com.batch.springbatch.model.Person">
    select * from people where person_id = #{personId}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from people where person_id = #{personId}
  </delete>

</mapper>